extends layout

block vars
    - let title = '火星人科技'
block content
    include lib/head
    section.banner.text-center.full_bg(style='background-image:url(/public/images/banner-news.jpg)')
        .banner-mask
            .container
                h2 手机应用
                p
                    a(href="javascript:;") 火星人
                    |  > 
                    a(href='cases') 案例产品
                    | >
                    a(href='cases') 手机应用
                    |  > 查看内容
    main.main
        .container
            section.content.neirong
                .row
                    article.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-lg-offset-1.col-md-offset-1
                        header.text-center
                            h2.title 响应式Web设计的9项基本原则
                            .info
                                small.date 时间 ：2015-09-12
                                small.hits
                                    | 点击 ：12
                                small.tags 栏目 ：手机应用
                        | 响应式web设计对于解决多类型屏幕问题来说是个不错方案，但从印刷的角度来看，其却存在着很多的困难。没有固定的页面尺寸、没有毫米或英寸，没有任何物
                        | 理限制，让人感到无从下手。随着建立网站可用的各种小工具越来越多，像素设计局限于桌面和移动端也已经成为历史。因此，现在就让我们来说明一下如何运用响
                        | 应式web设计的各项基本原则来实现，而不是抗拒流畅的网页体验。为了简单起见，我们将着重讲布局（当然，响应式设计远远不止于此，如果你想进一步学习， 可以
                        a(href="javascript:;") 点击此处
                        | ）。
                        br
                        br
                        strong 响应式设计vs适应式设计
                        br
                        br
                        | 看似相同实则不然。这两种设计方式彼此相辅相成，所以说也没有对错之分。具体情况要依内容而定。
                        hr

    include lib/footer

block script
    script.
