extends layout

block vars
    - let title = '火星人科技'

block content
    include lib/head
    section.banner.text-center.full_bg(style='background-image:url(/public/images/banner-news.jpg)')
        .banner-mask
            .container
                h2 团队人员
                p
                    a(href="javascript:;") 火星人
                    |  > 
                    a(href='team') 团队人员
                    | > 查看内容
    main.main
        .container
            section.content.neirong
                .row
                    article.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-lg-offset-1.col-md-offset-1
                        header.text-center
                            h2.title Moke
                            .info
                                small.date 时间 ：2016-05-08
                                small.hits
                                    | 点击 ：12
                                small.tags 栏目 ：团队人员
                        | 火星人（www.22vd.com）专业提供网站模板，网页模板，网站源码，网站素材，网页特效等网页设计素材免费下载。我们致力于打造一个优秀的建站资源共享学习平台。
                        br
                        br
                        b 火星人离不开您的参与，如果您
                        | ：
                        br
                        | 1.要出售自己的得意模板、插件、教程？欢迎您来这里交易，找到需要她、欣赏她的人。
                        br
                        | 2.苦苦寻觅某套模板、迫切希望得到设计帮助？这里或许能很快解决您的问题。
                        br
                        | 3.想找个网络模板收藏夹存放自己喜爱的模板？ 这里就是您的选择。
                        br
                        | 4.想结交更多热爱模板、插件的朋友？那就快来展示您的作品，寻找志趣相投的朋友吧。
                        br
                        br
                        b 让设计者省心，购买者放心
                        br
                        | 设计者：如果您是模板设计师，插件制作者。您可以在这里放心出售您的模板和插件，我们提供版权保护。
                        br
                        | 购买者：购买本站资源，我们提供“三重保障”(担保交易+人工介入+售后服务)，保障购买者的合法权益。
                        br
                        br
                        b 火星人已经上路，我们将为此不懈努力，期待得到您的支持！
                        hr


    include lib/footer