section.action.text-center
    .container.sx-jianju.action-bg
        p
            | 我们致力于打造一个优秀的建站资源共享学习平台
            br.hidden-xs
            | 火星人专业提供网站模板，网页模板，教程培训，程序插件，网站素材等建站资源
            br.hidden-xs
            | 从零开始系统全面的教你如何建立一个属于自己的网站并实现盈利
            br.hidden-xs
            | 火星人老师通过QQ群远程教学，全面系统的给大家讲解建站知识
        p
            a.btn-center(href="javascript:;") 访问官网
            a.btn-center(href='#') 联系方式
footer.text-center
    .container
        .row.footer
            figure.col-xs-12.col-sm-4.col-md-4.col-lg-4
                span.footer-dh
                h3 24小时服务热线
                p
                    | 电话：0771-3216270
                    br
                    | 传真：0771-3216270
            figure.col-xs-12.col-sm-4.col-md-4.col-lg-4
                span.footer-dz
                h3 火星人官方网站 www.6duyun.com
                p
                    | 地址：广西南宁市科园大道科园东5路
                    br
                    | 南宁软件园一楼
            figure.col-xs-12.col-sm-4.col-md-4.col-lg-4
                span.footer-yx
                h3 火星人邮箱
                p
                    | E-mail：
                    br
                    | dc@mars-it.net.
        ul.footer-nav.list-inline.menu-kj
            li
                a(href='/') 网站首页
            li
                a(href='a/guanyuwomen/index.htm') 关于我们
            li
                a(href='service') 服务中心
            li
                a(href='service#fuwu2') 服务优势
            li
                a(href='service#fuwu5') 服务流程
            li
                a(href='service#fuwu6') 服务客户
            li
                a(href='cases') 成功案例
            li
                a(href='news') 公司新闻
            li
                a(href='news') 产品动态
            li
                a(href='contact') 联系海博
            li
                a(data-toggle='collapse', href='javascript:;', data-target='#links', aria-expanded='false', aria-controls='links') 友情链接
        #links.collapse
            .well
                | 友情链接：
                a(href="javascript:;") 火星人
                |  / 
                a(href="javascript:;") 织梦源码
                |  /
    .copy
        .container
            p
                | © 2018 火星云
                a(href="javascript:;") Designed By Mars-IT All Rights Reserved
                br
                | 法律顾问：广东众帮律师事务所 
                a(href="javascript:;") 桂ICP备15003644号-2
ul.kefu
    li
        a#top.kefu-top(href='#', data-toggle='tooltip', data-placement='left', title='回页面顶部', rel='nofollow') 回顶部
    li.visible-xs-block
        a.kefu-dh(href='tel://400-8888-616', target='_blank', data-toggle='tooltip', data-placement='left', title='拔打电话', rel='nofollow') 拔打电话
    li
        a.kefu-gt(href="javascript:;" data-toggle='tooltip', data-placement='left', title='在线沟通', rel='nofollow') 在线沟通
    li.hidden-xs(data-toggle='modal', data-target='#weixin')
        a.kefu-wx(href='javascript:void(0)', data-toggle='tooltip', data-placement='left', title='微信平台', rel='nofollow') 官方微信平台
    li(data-toggle='modal', data-target='#fenxiang')
        a.kefu-fx(href='javascript:void(0)', data-toggle='tooltip', data-placement='left', title='分享给好友', rel='nofollow') 分享

#weixin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='weixin')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title.m-none 火星人官方微信
            .modal-body.p-40.text-center
                img(src='/public/images/footer/qrcode.png')
                p 使用微信扫一扫关注火星人

#fenxiang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='fenxiang')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title.m-none 分享给好友
            .modal-body.p-40.text-center
                .bdsharebuttonbox(data-tag='HBD_FX')
                    a.bds_sqq(data-cmd='sqq', href='#')
                    a.bds_weixin(data-cmd='weixin', href='#')
                    a.bds_qzone(data-cmd='qzone', href='#')
                    a.bds_tsina(data-cmd='tsina')
                    a.bds_baidu(data-cmd='baidu')
                    a.bds_tqq(data-cmd='tqq')
                    a.bds_mshare(data-cmd='mshare')
                    a.bds_more(data-cmd='more') 更多
                    a.bds_copy(data-cmd='copy')
                    a.bds_count(data-cmd='count')


