header.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            h1.logo
                a.navbar-brand(href='index') 火星人
                small.pull-left.visible-lg-block.visible-xs-block 建站资源共享学习平台
        nav.collapse.navbar-right.navbar-collapse(role='navigation')
            ul#nav.nav.navbar-nav.pull-left
                li
                    a(href='index') 首页
                li
                    a(href='service') 服务
                    ul.list-unstyled
                        li
                            a(href='service#fuwu1') 专业
                        li
                            a(href='service#fuwu2') 优势
                        li
                            a(href='service#fuwu3') 配套
                        li
                            a(href='service#fuwu4') 项目
                        li
                            a(href='service#fuwu5') 流程
                        li
                            a(href='service#fuwu6') 客户
                li
                    a(href='cases') 案例
                    ul.list-unstyled
                        li
                            a(href='cases') 手机应用
                        li
                            a(href='cases') 网站设计
                        li
                            a(href='cases') 平面设计
                li
                    a(href='team') 团队
                    ul.list-unstyled
                li
                    a(href='news') 资讯
                    ul.list-unstyled
                        li
                            a(href='news') 公司新闻
                        li
                            a(href='news') 产品动态
                        li
                            a(href='news') 行业知识
                li
                    a(href='about') 简介
                li
                    a(href='contact') 联系
                li
                    a(href="javascript:;") 购买模板
            ul.list-unstyled.nav-kj.pull-right.visible-md-block.visible-lg-block
                li
                    a.fuwu(href='javascript:;') 火星人客服
                    .fuwu-nr
                        h4 24小时在线服务
                        p
                            | 不论您遇到任何问题，装修服务或售后支持等
                            br
                            | 均可随时致电与我们沟通，我们会迅速为您解决问题
                        hr.small.white
                        h4 0771-3216270
                        p [ 电子邮箱 ]：dc@mars-it.net.
                        hr.small.white
                        h4 在线咨询
                        p
                            a.sq(href='#') 联系我们
                            a.qq(href="javascript:;") QQ咨询

